In [1]:
password="pass123"
if len( password)<6:
 print("week password")
elif len( password)<=8:
 print("moderate password")
else:
 print("strong password")

moderate password

In [15]:
#for loop
a=[1,2,3,4,5,6,]
for i in a:
    print(i)

1
2
3
4
5
6

In [18]:
fruits=["apple","mango","banana"]
for fruit in fruits:
    print(fruit)

apple
mango
banana

In [26]:
word="hello"
for i in word:
    print(i)

h
e
l
l
o

In [22]:
range(0,5)
for i in range(0,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(1,10,3):
    print(i)

1
4
7

In [38]:
 a=[]
for i in a:
    print(i)
else:
    print("loop is finished")

loop is finished

In [40]:
 a=5
for i in range( a):
    print(i)
else:
    print("loop is finished")

0
1
2
3
4
loop is finished

In [42]:
#nested for loop
for i in range(3):
    for j in range(2):
        print(f"i={i},j={j}")

i=0,j=0
i=0,j=1
i=1,j=0
i=1,j=1
i=2,j=0
i=2,j=1

In [44]:
for i in range(3):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [52]:
 name="muskan"
print(f" my name is {name}")

 my name is muskan

In [58]:
for i in range(3):
 print(i)
 print("this will be first")
 print("this is second")
 print("this is third")

0
this will be first
this is second
this is third
1
this will be first
this is second
this is third
2
this will be first
this is second
this is third

In [60]:
st="hello"
n=len(st)
for i in range(n):
    print(i,"=",st[i])

0 = h
1 = e
2 = l
3 = l
4 = o

In [64]:
st="hello"
n=len(st)
print(n)

5

In [92]:
#break statement
for number in range(10):
    if number == 5:
        break
    print(number)
print("for loop has been stopped")

0
1
2
3
4
for loop has been stopped

In [102]:
#continue 
for number in range(10):
    if number == 5:
        continue
    print(number)

0
1
2
3
4
6
7
8
9

In [104]:
#pass
for number in range(5):
    if number == 3:
        pass
    else:
        print(number)

0
1
2
4

In [110]:
numbers=[10,15,20,25,30,35,40]
target=25
for number in numbers:
    if number==target:
        print(f"number{target} found")
        break

number25 found