In [1]:
#pandas

In [6]:
import pandas as pd

In [29]:
s=pd.Series([10,20,30,40],index=['a','b','c','d'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [17]:
s1=pd.Series([10,20,30])
print(s1)

0    10
1    20
2    30
dtype: int64

In [49]:
import pandas as pd
months=["january","february","march","april","may"]
sales=[1200,2000,1000,1800,900]
sales_series=pd.Series(sales,index=months,name="Monthly Sales(USD)")
print(sales_series)

january     1200
february    2000
march       1000
april       1800
may          900
Name: Monthly Sales(USD), dtype: int64

In [51]:
data={"name":["alice","bob","sam"],
      "age":[25,30,21],
      "city":["bangalore","chennai","london"]}
df=pd.DataFrame(data)
print(df)

    name  age       city
0  alice   25  bangalore
1    bob   30    chennai
2    sam   21     london

In [55]:
data={"name":["alice","bob","sam"],
      "age":[25,30,21],
      "city":["bangalore","chennai","london"]}
df=pd.DataFrame(data)
print(df)
print("adding new column")
df["email"]=["alice@gmail.com","bob@gmail.com","sam@gamil.com"]
print(df)

    name  age       city
0  alice   25  bangalore
1    bob   30    chennai
2    sam   21     london
adding new column
    name  age       city            email
0  alice   25  bangalore  alice@gmail.com
1    bob   30    chennai    bob@gmail.com
2    sam   21     london    sam@gamil.com

In [59]:
data={"name":["alice","bob","sam"],
      "age":[25,30,21],
      "city":["bangalore","chennai","london"]}
df=pd.DataFrame(data)
print(df)
print("adding new column")
df["email"]=["alice@gmail.com","bob@gmail.com","sam@gamil.com"]
print(df)
new_column_name="Gender"
new_column["female","male","male"]
insert_index=2
df.insert(insert_index,new_column_name,new_column)
print(df)

    name  age       city
0  alice   25  bangalore
1    bob   30    chennai
2    sam   21     london
adding new column
    name  age       city            email
0  alice   25  bangalore  alice@gmail.com
1    bob   30    chennai    bob@gmail.com
2    sam   21     london    sam@gamil.com

NameError: name 'new_column' is not defined